<head>
    <link rel="icon" type="image/x-icon" href="../../../public/img/Crystal mini.png">
    
    <title> ８人の預言者 : CHAPTERS </title>

    <meta charset="UTF-8">
    
    <script src="../../../public/js/client.js"></script>
    <script src="../../../public/views/FolderView.js"></script>
    <script src="../../../public/views/Chapters/ChapterView.js"></script>


    <link rel="stylesheet" href="../../../public/css/Attributes.css">
    <link rel="stylesheet" href="../../../public/css/AttributesPhone.css">
</head>
<body>
</body>
